<%= render "shared/title_header", title: "All posts" %>

<%= render "shared/sort_bar", path: posts_path %>

<% if @posts.length > 0 %>
  <%= render @posts %>
<% else %>

<div class="row">
  <div class="well span8">
    <p>Sorry there are no more posts.</p>
  </div>
</div>

<% end %>

<%= render "shared/pagination", href: "/" %>